body {
  --bg: #FFFFFF;
  --fg: #000000;
}
.App {
 background-color: var(--bg);
 color: var(--fg);
 width: 100vw;
 height:100vh;
 padding: 20px;

}
.App h1 {
  margin: 0;
  font-weight: 400;
}
.App__center_elements {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100%;
  gap: 20px;

}
.App__hi_ramp {
  display:flex;
  gap: 20px;
  background-color: var(--fg);
  color: var(--bg);
  padding: 20px;
}
